<div class="container_form">
  <div class="form_layout">
    <p class="font-rye text-[1.5rem]">Mart</p>

    <form [formGroup]="form" (ngSubmit)="submitdetail()">
      <p>Welcome Back</p>

        <div class="form_message">{{formmsg}}</div>
      

      <div class="inputsfield">
        <input
          type="email"
          formControlName="email"
          name="email"
          placeholder="Email address"
        />
        <input
          type="password"
          formControlName="password"
          name="password"
          placeholder="Password"
        />
      </div>
      <button type="submit">Submit</button>
      <span
        >Don't have an account?
        <a class="text-[#10a37f]" routerLink="/register">Sign up</a></span
      >
    </form>
  </div>
</div>

<!-- <form>
  
   
  
    
  
    
  </form> -->
