<app-header-nav></app-header-nav>

<div class="slideshow-container w-[100%]">
  <div class="middletext">About</div>
  <div class="mySlides fade">
    <img src="../../../assets/images/about.jpg" alt="" />
  </div>
</div>

<div class="aboutus">
  <p class="headtitle">About us</p>
  <div class="note">
    <b>Mart</b> is an Open-Source ecommerce side project written with the use of
    languages like Java, Spring-Boot, Angular, Tailwind, Scss, Mysql, Maven,
    Data-Jpa and so many other resources.
    <p>
      It is a well secured end to end ecommerce web page that uses the latest
      security measures as of the publishing off this webpage.
    </p>
    <p>
      Mart enables user to view list of well structured product and information
      regarding them, it also enables user to sign-up and sign-in into their
      respective accounts giving them the access to add products into the cart
      page and proceed with other features of this web application
    </p>

    <br />

    <p>
      Samuel is a Full-stack developer with years of experience using Java and
      Spring-Boot to developed web applications.
    </p>
  </div>
</div>

<div class="ourservices">
  <p class="nameservice">Featured Services</p>
  <div class="service_sec">
    <div class="leftside">
        <img src="https://img.icons8.com/external-simple-line-edt.graphics/70/000000/external-Rocket-rockets-simple-line-edt.graphics-11.png"/>
        <h3>Free Shipping</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

    </div>
    <div class="centerside">
        <img src="https://img.icons8.com/external-phatplus-lineal-phatplus/70/000000/external-support-digital-marketing-phatplus-lineal-phatplus.png"/>
        <h3>24/7 Support</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="rightside">
        <img src="https://img.icons8.com/ios/70/null/receive-cash.png"/>
        <h3>Payment Process</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
</div>

<div class="aboutus">
<div class="note">
  <p>
    <b>MART</b> was designed, written and deployed by <b>Akinyemi Samuel</b>
  </p>
  Want to know more about the developer ?
  <a
    class="text-blue-800"
    target="_blank"
    href="https://a-samuel.netlify.app/home"
    >click here</a
  >
</div>
</div>

<app-footer></app-footer>
