footer{
    width: 95%;
    margin: 0 auto;
    padding-top: 100px;

    .title{
        padding-top: 50px;
        text-align: center;
        font-family: Poppins, sans-serif;
        font-weight: bolder;
        font-size: 25px;
    }

    .news_text{
        text-align: center;
        font-family: Poppins, sans-serif;
        padding-top: 30px;
        font-size: 15px;
        color: #909097;
    }

    .inputs{
        padding-top: 40px;
        padding-bottom: 30px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        input{
            width: 60%;
            border-bottom: 2px solid gainsboro;
            transition: all ease 3s;
            padding: 15px;
            font-family: Poppins, sans-serif;
        }

        input:focus, button:focus{
            outline: none;
            border-color: black;
        }

        input:hover, button:hover{
            border-color: black;
        }

        button{
            border-bottom: 2px solid gainsboro;
            transition: all ease 3s;
            padding: 15px;
            font-family: Poppins, sans-serif;
            margin-left: 15px;
            font-weight: bolder;
        }
    }

    .footer_items{
        width: 100%;
        padding:35px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        p:hover, i:hover{
            color: black;
        }

        .left_items{
            display: flex;
            color: #909097;
            font-family: Poppins, sans-serif;

            p{
                padding: 0 10px;
                transition: all ease 3s;
                font-weight: lighter;
            }
        }
        
        .right_items{
            color: #909097;
            i{
                padding: 0 15px;
                transition: all ease 3s;
            }
        }
    }
}


@media screen and (max-width:600px) {
    footer{
        width: 95%;
        margin: 0 auto;
        padding-top: 100px;
    
        .title{
            padding-top: 50px;
            text-align: center;
            font-family: Poppins, sans-serif;
            font-weight: bolder;
            font-size: 25px;
        }
    
        .news_text{
            text-align: center;
            font-family: Poppins, sans-serif;
            padding-top: 30px;
            font-size: 15px;
            color: #909097;
        }
    
        .inputs{
            padding-top: 40px;
            padding-bottom: 30px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
    
            input{
                width: 60%;
                border-bottom: 2px solid gainsboro;
                transition: all ease 3s;
                padding: 15px;
                font-family: Poppins, sans-serif;
            }
    
            input:focus, button:focus{
                outline: none;
                border-color: black;
            }
    
            input:hover, button:hover{
                border-color: black;
            }
    
            button{
                border-bottom: 2px solid gainsboro;
                transition: all ease 3s;
                padding: 15px;
                font-family: Poppins, sans-serif;
                margin-left: 15px;
                font-weight: bolder;
            }
        }
    
        .footer_items{
            width: 100%;
            padding:35px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
    
            p:hover, i:hover{
                color: black;
            }
    
            .left_items{
                display: flex;
                flex-direction: column;
                text-align: center;
                color: #909097;
                font-family: Poppins, sans-serif;
    
                p{
                    padding: 12px 0;
                    transition: all ease 3s;
                    font-weight: lighter;
                }
            }
            
            .right_items{
                color: #909097;
                padding-top: 15px;
                i{
                    padding: 0 15px;
                    transition: all ease 3s;
                }
            }
        }
    }
}