<footer>
    <hr>
    <div class="news_letter">
        <div class="title">
            Newsletter
        </div>

        <div class="news_text">
            <p>Get timely updates from your favorite products</p>
        </div>

        <div class="inputs">
            <input type="email" placeholder="Enter your email address">
            <button>Subscribe</button>
        </div>
    </div>

    <hr>
    <div class="footer_items">
        <div class="left_items">
            <p>©2016 Samuel</p>
            <p>About</p>
            <p>Portfolio</p>
            <p>Contact</p>
        </div>

        <div class="right_items">
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <i class="fa fa-instagram" aria-hidden="true"></i>
            <i class="fa fa-linkedin" aria-hidden="true"></i>
            <i class="fa fa-address-book-o" aria-hidden="true"></i>
        </div>
    </div>
</footer>
