<div class="search-cont">
  <div class="searchmenu">
    <div class="searchmenu_left">
      <h4>Search</h4>
    </div>

    <div class="searchmenu_right">
      <img
        src="https://img.icons8.com/ios/30/000000/delete-sign--v1.png"
        (click)="backToHome()"
      />
    </div>
  </div>

  <div class="search_selection">
    <li href="">All Categories</li>
    <li href="">Women</li>
    <li href="">Bags</li>
    <li href="">Accessories</li>
  </div>

  <div class="searching">
    <input type="text" placeholder="Search"  #keyword (keyup.enter)="searchValue(keyword.value)" />
  </div>
</div>

<!-- <app-product-list></app-product-list> -->
<app-product-temp-list [products]="product" [size]="size" [pageNumber]="pageNumber" [totalElements]="totalElements" (emitFunctionOfParent)="onPageChange($event)"></app-product-temp-list>